doctype html
html(lang='en')
    head
        title #{title}
        link(rel="stylesheet", href="../css/styles.css", type="text/css")
        script(src="../js/standard_page_client.js", type="text/javascript")
    body
        div.module(id="m_-1")
            div.moduletitle
                h1.title #{title}
                span.editbutton(onclick="toggleModuleEditMode(this)") edit
            p.content #{description}

        for section, index in modules
            div.module(id="m_"+index)
                div.moduletitle
                    h2.name #{section.name}
                    span.editbutton(onclick="toggleModuleEditMode(this)") edit
                p.content #{section.content}
        
        button(onclick="addNewModule()") Add Module
            